<!-- 
    Once page is loaded it'll be initialized, 
    but only visible once it gets response.
 -->
<div *ngIf="response && !error">
    <h2>City: {{ response.name }}, {{ response.sys.country }}</h2>
    <img [src]="imagePath" [alt]="response.weather[0].description">
    <br>
    <h4>Weather: {{ response.weather[0].main }}</h4>
    <h4>Descripton: {{ response.weather[0].description }}</h4>    
    <h4>Current Temperature: {{ response.main.temp }} °C</h4>
    <h4>Feels Like: {{ response.main.feels_like }} °C</h4>
    <button *ngIf="!favCity" (click)="addToFavorites()">+ Add to favorites</button>
    <button *ngIf="favCity" (click)="deleteFromFavorites()">- Delete from favorites</button>
    <app-air-pollution [lat]="response.coord.lat" [lon]="response.coord.lon"></app-air-pollution>    
</div>

<div *ngIf="error">
    <h1 class="error">City not found...</h1>
</div>
