<h1>Welcome to Weather App</h1>

<div>
    <h2>City: Belgrade</h2>
    <h4>Coordinates: {{ response?.coord.lat }}, {{ response?.coord.lon }}</h4>
    <h4>Current Temperature: {{ response?.main.temp }} °C</h4>
    <h4>Feels Like: {{ response?.main.feels_like }} °C</h4>
</div>
<br>
<div>
    <h2>AirPolution</h2>
    <h4 
    *ngIf="
        responsePolution?.list[0].main.aqi === 1
    ">
        AQI: Good
    </h4>
    <h4 
    *ngIf="
        responsePolution?.list[0].main.aqi === 2
    ">
        AQI: Fair
    </h4>
    <h4 
    *ngIf="
        responsePolution?.list[0].main.aqi === 3
    ">
        AQI: Moderate
    </h4>
    <h4 
    *ngIf="
        responsePolution?.list[0].main.aqi === 4
    ">
        AQI: Poor
    </h4>
    <h4 
    *ngIf="
        responsePolution?.list[0].main.aqi === 5
    ">
        AQI: Very Poor
    </h4>
</div>



